cached-property
certifi
cffi
chardet
click
colorama
cryptography
decorator
Flask
Flask-Classful
Flask-Login
flask-oidc
Flask-SQLAlchemy
greenlet
html5lib
httplib2
idna
itsdangerous
Jinja2
keycloak
MarkupSafe
mechanize
numpy
oauth2client
oauthlib
pandas
psycopg2
pyasn1
pyasn1-modules
pycparser
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
requests
rsa
selenium
six
SQLAlchemy
urllib3
webencodings
Werkzeug
XlsxWriter
logging
