<!DOCTYPE html>
<html>

<head>
    {% if title %}
    <title>{{ title }} - DB-Tools</title>
    {% else %}
    <title>Welcome to DB-Tools</title>
    {% endif %}
    {% include 'head.html' %}
    {% block scripts %} {% endblock %}
</head>

<body>
    {% include 'NavBar.html' %}
    <div class="container pt-3 px-3">
        {% block content %}{% endblock %}
    </div>

</body>
<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light d-flex justify-content-end pt-3">
    <div class="px-3">
        {% block buttomBar %} {% endblock %}
    </div>
</nav>
</html>