{% block content %}
<link href="{{ url_for('static',filename='styles/Datatables/datatables.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static',filename='styles/Bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css"/>
<script src="{{ url_for('static',filename='styles/Datatables/datatables.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='styles/Bootstrap/js/bootstrap.js')}}" type="text/javascript"></script>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='Resources/Koerber_Logo_RGB_Black.ico')}}" />
{% endblock %}
