<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MyFlaskApp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--Required fore Datatables-->
        <link href="{{ url_for('static', filename='styles/DataTables/datatables.min.css')}}" rel="stylesheet"
              type="text/css"/>
        <script src="{{ url_for('static', filename='styles/DataTables/datatables.min.js')}}"
                type="text/javascript"></script>

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" >Test Application</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{url_for('dash.page_1')}}">Page1</a></li>
                        <li><a href="{{url_for('dash.page_2')}}">Page2</a></li>
                        <li><a href="{{url_for('dash.page_admin')}}">Admin</a></li>
                        <li><a href="{{url_for('dash.page_postgres')}}">Postgres</a></li>
                        <li><a href="{{url_for('dash.page_sqlite')}}">SQLite</a></li>
                        <li><a href="{{url_for('config_interface.page_config')}}">DB-Config</a></li>
                        <li><a href="{{url_for('export.export_index')}}">Export</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://localhost:8080/auth/realms/DBTools/account/">Account</a></li>
                        <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse-->
            </div>
        </nav>

        <div class="container">
            {% include 'includes/_messages.html' %}
            {% block body %}{% endblock %}
        </div>
    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
        <script type="text/javascript">
            CKEDITOR.replace('editor')
        </script>

    </body>
    
</html>

