<!DOCTYPE html>
<html>
{% if title %}
<title>{{ title }} - DB-Tools</title>
{% else %}
<title>Welcome to DB-Tools</title>
{% endif %}
{% include 'head.html' %}
</head>
<body>
    <div style="height: auto; width:auto; text-align:center">
        <div style="height: auto; width:50%; display: inline-block; margin-top: 5%">
            <img alt="Körber Logo" class="koerber_logo"
                src="{{ url_for('static',filename='Resources/Koerber_Logo_RGB_Black.svg')}}">
        </div>
        <div>
            <h1>
                DB-Tools
            </h1>
        </div>
        <div>
            <div>
                <a type="button" href="{{url_for('dash.dashboard')}}" class="btn btn-primary">Login</a>
                <a type="button" href="http://localhost:8080/auth/admin/master/console"
                    class="btn btn-outline-primary">User Management</a>
            </div>
        </div>
    </div>
</body>
</html>