{% macro table_with_buttons(id="databasetable", column_names=[], table=[] )%}
<script>
    $(document).ready(function () {
        var oTable = $("#{{id}}").DataTable({
            "dom": '<"Buttons"B>lrtip',
            colReorder: true,
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        });
        $('#{{id}} tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );



        $("#btnName{{id}}").on("click", function () {
            var oAll = [];
            $('#{{id}} tbody tr.selected').each(function () {
                var pos = oTable.row(this).index();
                var row = oTable.row(pos).data();
                var id_name = row[5];
                oAll.push(id_name);
            });
            var conf = confirm("Do you want to delete the folowing Names? \n" + oAll);
            if (conf == false) {
                alert("No Data has been Deleted")
            }
            if (conf == true) {
                $.ajax({
                    type: "POST",
                    url: "delete_batch_name_array",
                    data: { 'data': JSON.stringify(oAll) }
                });
                location.reload();
            }
        });
        $("#btnID{{id}}").on("click", function () {
            var oAll = [];
            $('#{{id}} tbody tr.selected').each(function () {
                var pos = oTable.row(this).index();
                var row = oTable.row(pos).data();
                console.log(row);
                var id_name = row[0];
                oAll.push(id_name);
            });
            var conf = confirm("Do you want to delete the folowing IDs? \n" + oAll);
            if (conf == false) {
                alert("No Data has been Deleted")
            }
            if (conf == true) {
                $.ajax({
                    type: "POST",
                    url: "delete_batch_id_array",
                    data: { 'data': JSON.stringify(oAll) }
                });
                location.reload();
            }
        });
        $("#btnbetweenids{{id}}").on("click", function () {
            var oAll = [];
            $('#{{id}} tbody tr.selected').each(function () {
                var pos = oTable.row(this).index();
                var row = oTable.row(pos).data();
                var id_name = row[0];
                oAll.push(id_name);
            });
            if (oAll.length > 1) {
                var conf = confirm("Do you want to delete the batches between the following IDs? \n" + oAll);
                if (conf == false) {
                    alert("No Data has been Deleted")
                }
                if (conf == true) {
                    $.ajax({
                        type: "POST",
                        url: "delete_between_ids",
                        data: { 'data': JSON.stringify(oAll) }
                    });
                    location.reload();
                }
            }
            else {
                alert("Please select 2 or more Values")
            }
        });
    });

</script>
<table class="display" id="{{id}}">
    <thead>
    <tr>
        {% for name in column_names %}
        <th> {{ name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for table_object in table %}
    <tr>
        {% for name in column_names %}
        <td> {{ table_object[name] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}

    </tbody>
</table>
<button id="btnID{{id}}" type="button">Delete By ID</button>
<button id="btnName{{id}}" type="button">Delete By Name</button>
<button id="btnbetweenids{{id}}" type="button">Delete between min and max id</button>
<div class="copy"></div>
{% endmacro %}