<!DOCTYPE html>

<html>
<body>
    <nav>
        <ul>
            <li>
                <span></span><span></span><span></span><span></span>
                <a href="my" style="text-decoration: none">Login</a>
            </li>
        </ul>
        <ul>
            <li>
                <span></span><span></span><span></span><span></span>
                <a href="http://localhost:8080/auth/admin/master/console" style="text-decoration: none">User
                    Managment</a>
            </li>
        </ul>
        <ul>
            <li>
                <span></span><span></span><span></span><span></span>
                <a href="/dummy_login" style="text-decoration: none">Dummy Login</a>
            </li>
        </ul>
    </nav>
</body>

</html>