<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<script>

    $.ajax({
        url: "{{url_for('table_interface.get_column_content', table_name='batchview', column_name='batchname')}}", success: function (result) {

            for (i = 0; i < result.length; i++) {
                var batchid_select = document.getElementById("batchname");
                var option = document.createElement("option");
                option.text = result[i];
                batchid_select.add(option);
            }
            $('.selectpicker').selectpicker('refresh')
        }
    });
    $.ajax({
        url: "{{url_for('table_interface.get_column_content', table_name='batchview', column_name='inspectionname')}}",
        success: function (result) {
            for (i = 0; i < result.length; i++) {
                var batchid_select = document.getElementById("inspectionname");
                var option = document.createElement("option");
                option.text = result[i];
                batchid_select.add(option);
            }
            $('.selectpicker').selectpicker('refresh')
        }
    });
    function toView() {
        var str = $("#filterForm").serialize();
        location.href = "{{url_for('export.page_view')}}?".concat(str);
    };
    function resetForm() {
        $(".form-control").val('')
        $('.selectpicker').selectpicker('refresh')
    };
</script>
<h1 style="color:blue;">
    Select data
</h1>
<form id="filterForm">
    <div class="form-group row">
        <label for="batchname" class="col-sm-2 col-form-label h3">Batchname</label>
        <div class="col-sm-10">
            <select id="batchname" name="batchname" class="form-control selectpicker" multiple data-live-search="true">
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="Date" class="col-sm-2 col-form-label h3">Datetime</label>
        <div class="col-sm-5">
            <label for="from_datetime">From</label>
            <input type="datetime-local" id="from_datetime" name="from_datetime" class="form-control"
                data-date-format="YYYY-MM-DD hh:mm">
        </div>
        <div class="col-sm-5">
            <label for="to_datetime">To</label>
            <input type="datetime-local" id="to_datetime" name="to_datetime" class="form-control"
                data-date-format="YYYY-MM-DD hh:mm">
        </div>
    </div>
    <div class="form-group row">
        <label for="Date" class="col-sm-2 col-form-label h3">Datetime offset</label>
        <div class="col-sm-5">
            <label for="from_datetime_offset">From-offset</label>
            <input type="text" id="from_datetime_offset" name="from_datetime_offset" class="form-control"
                value=''>
        </div>
        <div class="col-sm-5">
            <label for="to_datetime_offset">To-offset</label>
            <input type="text" id="to_datetime_offset" name="to_datetime_offset" class="form-control" value=''>
        </div>
    </div>
    <div class="form-group row">
        <label for="recipename" class="col-sm-2 col-form-label h3">Recipe name</label>
        <div class="col-sm-10">
            <select id="recipename" name="batchrecipenameid" class="form-control selectpicker" multiple
                data-live-search="true">

            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="camera_name" class="col-sm-2 col-form-label h3">inspectionname</label>
        <div class="col-sm-10">
            <select id="camera_name" name="camera_name" class="form-control selectpicker" multiple
                data-live-search="true">

            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="inspectionname" class="col-sm-2 col-form-label h3">Camera name / Inspection name</label>
        <div class="col-sm-10">
            <select id="inspectionname" name="inspectionname" class="form-control selectpicker" multiple
                data-live-search="true">
            </select>
        </div>
    </div>
</form>
<div class="pt-3"style="float: right">
    <button onclick="resetForm()" class="btn btn-secondary mb-2">Reset</button>
    <button class="btn btn-secondary mb-2">Save as Filter</button>
    <button onclick="toView()" class="btn btn-primary mb-2">Select Data</button>
</div>

{% endblock %}