<!DOCTYPE html>
{% extends "base.html" %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('a').each(function () {
            this.href += window.location.search;
        })
        $.ajax({
            url: ["{{url_for('table_interface.get_table_length', table_name='trigger')}}",
                window.location.search].join(""),
            success: function (results) {
                $('#selectedDatasets')
                    .text(results["length"]
                    )
            }
        })
        $('#processForm').change(function () {
            if ($('#download').is(':checked'))
                $('#downloadExcel').removeAttr("disabled"),
                    $('#downloadCSV').removeAttr("disabled"),
                    $('#downloadImages').removeAttr("disabled"),
                    $('#downloadDatabaseDump').removeAttr("disabled");
            else
                $('#downloadExcel').attr("disabled", true),
                    $('#downloadCSV').attr("disabled", true),
                    $('#downloadImages').attr("disabled", true),
                    $('#downloadDatabaseDump').attr("disabled", true);

            if ($('#export').is(':checked'))
                $('#exportExcel').removeAttr("disabled"),
                    $('#exportCSV').removeAttr("disabled"),
                    $('#exportImages').removeAttr("disabled"),
                    $('#exportDatabaseDump').removeAttr("disabled");
            else
                $('#exportExcel').attr("disabled", true),
                    $('#exportCSV').attr("disabled", true),
                    $('#exportImages').attr("disabled", true),
                    $('#exportDatabaseDump').attr("disabled", true);

            if ($('#delete').is(':checked'))
                $('#deleteImages').removeAttr("disabled")
            else
                $('#deleteImages').attr("disabled", true)
            if ($('#deleteImages').is(':checked') && $('#delete').is(':checked'))
                $('#deleteData').removeAttr("disabled")
            else
                $('#deleteData').attr("disabled", true)
        })
        $('#processDataButton').click(function () {
            $.ajax({
                "url": ["{{url_for('export_interface.process')}}", window.location.search, "&", $('form').serialize()].join(''),
                "success": function (result) {
                    console.log(result)
                    console.log($('form').serialize())
                }
            })
        })
    });


</script>
{% endblock %}
{% block content %}
<h1 class="text-primary">
    Process data
</h1>
<div class="align-middle">
    Selected data:
    <span id="selectedDatasets">
        <div class='spinner-border' role='status'><span class='sr-only'></span></div>
    </span>
    Records
</div>
<form id="processForm" class="m-3">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="download" name="check" value="download">
        <label class="form-check-label" for="download">
            Download
        </label>
    </div>
    <div class="form-check ms-4">
        <input class="form-check-input" type="checkbox" id="downloadExcel" name="check" value="downloadExcel" disabled>
        <label class="form-check-label" for="downloadExcel">
            Excel
        </label>
    </div>
    <div class="form-check ms-4">
        <input class="form-check-input" type="checkbox" id="downloadCSV" name="check" value="downloadCSV" disabled>
        <label class="form-check-label" for="downloadCSV">
            CSV
        </label>
    </div>
    <div class="form-check ms-4">
        <input class="form-check-input" type="checkbox" id="downloadImages" name="check" value="downloadImages"
            disabled>
        <label class="form-check-label" for="downloadImages">
            Images
        </label>
    </div>
    <div class="form-check ms-4">
        <input class="form-check-input" type="checkbox" id="downloadDatabaseDump" name="check"
            value="downloadDatabaseDump" disabled>
        <label class="form-check-label" for="downloadDatabaseDump">
            Database Dump
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="export" name="check" value="export">
        <label class="form-check-label" for="export">
            Export
        </label>
    </div>
    <div class="form-check ms-4">
        <input class="form-check-input" type="checkbox" id="exportExcel" name="check" value="exportExcel" disabled>
        <label class="form-check-label" for="exportExcel">
            Excel
        </label>
    </div>
    <div class="form-check ms-4">
        <input class="form-check-input" type="checkbox" id="exportCSV" name="check" value="exportCSV" disabled>
        <label class="form-check-label" for="exportCSV">
            CSV
        </label>
    </div>
    <div class="form-check ms-4">
        <input class="form-check-input" type="checkbox" id="exportImages" name="check" value="exportImages" disabled>
        <label class="form-check-label" for="exportImages">
            Images
        </label>
    </div>
    <div class="form-check ms-4">
        <input class="form-check-input" type="checkbox" id="exportDatabaseDump" name="check" value="exportDatabaseDump"
            disabled>
        <label class="form-check-label" for="exportDatabaseDump">
            Database Dump
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="delete" name="check" value="delete">
        <label class="form-check-label" for="delete">
            Delete
        </label>
    </div>
    <div class="form-check ms-4">
        <input class="form-check-input" type="checkbox" id="deleteImages" name="check" value="deleteImages" disabled>
        <label class="form-check-label" for="deleteImages">
            Images
        </label>
    </div>
    <div class="form-check ms-5">
        <input class="form-check-input" type="checkbox" id="deleteData" name="check" value="deleteData" disabled>
        <label class="form-check-label" for="deleteData">
            Data
        </label>
    </div>
</form>
<button class="btn btn-primary" id="processDataButton">
    Process
</button>
{% endblock %}