<!DOCTYPE html>
{% extends "base.html" %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('a').each(function () {
            this.href += window.location.search;
        })
        $.ajax({
            url: ["{{url_for('table_interface.get_table_length', table_name='trigger')}}",
                window.location.search].join(""),
            success: function (results) {
                $('#selectedDatasets')
                    .text(results["length"]
                    )
            }
        })
        $('#processDataButton').click(function () {
            fetch(["{{url_for('export_interface.process')}}","?", $('form').serialize(), "&", window.location.search.substr(1)].join(''))
                .then(resp => resp.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    // the filename you want
                    a.download = 'download.7z';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                    alert('your file has downloaded!'); // or you know, something with better UX...
                })
                .catch(() => alert('oh no!'));
        })
    });


</script>
{% endblock %}
{% block content %}
<h1 class="text-primary">
    Process data
</h1>
<div class="align-middle">
    Selected data:
    <span id="selectedDatasets">
        <div class='spinner-border' role='status'><span class='sr-only'></span></div>
    </span>
    Records
</div>
<form id="processForm" class="m-3">
    <div class="row py-3">
        <div class="col">
            Icon
        </div>
        <div class="col">
            Icon
        </div>
        <div class="col">
            Icon
        </div>
        <div class="col">
            Icon
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="ExcelCheckbox" name="check" value="excel">
                <label class="form-check-label" for="ExcelCheckbox">Excel</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="CSVCheckbox" name="check" value="csv">
                <label class="form-check-label" for="CSVCheckbox">CSV</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="ImagesCheckbox" name="check" value="images">
                <label class="form-check-label" for="ImagesCheckbox">Images</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="DumplCheckbox" name="check" value="dump">
                <label class="form-check-label" for="DumplCheckbox">Dump</label>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <input type="checkbox" class="btn-check" id="DownloadChecobox" name="check" value="download" autocomplete="off">
            <label class="btn btn-outline-primary" for="DownloadChecobox">Download</label>
        </div>
        <div class="col">
            <input type="checkbox" class="btn-check" id="NetworkCheckbox" name="check" value="export" autocomplete="off">
            <label class="btn btn-outline-primary" for="NetworkCheckbox">Save to Network</label>
        </div>
    </div>
    <hr>
    <div class="row py-3">
        <div class="col">
            Icon
        </div>
        <div class="col">
            Icon
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="DelDataCheckbox" name="check" value="deleteData">
                <label class="form-check-label" for="DelDataCheckbox">Data</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="DelImagesCheckbox" name="check" value="deleteImages">
                <label class="form-check-label" for="DelImagesCheckbox">Images</label>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <input type="checkbox" class="btn-check" id="DeleteCheckbox" name="check" value="delete" autocomplete="off">
            <label class="btn btn-outline-primary" for="DeleteCheckbox">Delete</label>
        </div>
    </div>


</form>
{% endblock %}
{% block buttomBar %}
<button class="btn btn-primary" id="processDataButton">
    Process
</button>
{% endblock %}