<!DOCTYPE html>
{% macro ajax_table(table_name="table_name", parameters = "parameters" ) %}
<script>
    $(document).ready(function () {
        var parameters = $.param(JSON.parse('{{parameters|tojson}}'), true);

        $.ajax({
            "url": "{{url_for('table_interface.get_table_columns', table_name=table_name)}}",
            "data": parameters,
            success: function (data) {
                var columns = [];
                columnNames = data.columns;
                for (var i in columnNames) {
                    columns.push({
                        data: columnNames[i],
                        title: columnNames[i],
                        name: columnNames[i]
                    });
                }
                var oTable = $("#{{table_name}}").DataTable({

                    "autoWidth": true,
                    "ajax": {
                        "url": "{{url_for('table_interface.get_table_rows', table_name=table_name)}}?" + parameters,
                        "dataSrc": 'data',
                    },
                    "buttons": [
                        {
                            extend: 'collection',
                            className: 'btn btn-outline-primary mb-2',
                            text: 'Export Table',
                            buttons: [
                                { extend: 'copy', className: 'btn btn-secondary mb-2' },
                                { extend: 'csv', className: 'btn btn-secondary mb-2' },
                                { extend: 'excel', className: 'btn btn-secondary mb-2' },
                                { extend: 'pdf', className: 'btn btn-secondary mb-2' },
                                { extend: 'print', className: 'btn btn-secondary mb-2' },
                            ]
                        },
                        { extend: 'colvis', className: 'btn btn-outline-primary mb-2', collectionLayout: 'four-column' },
                        {
                            text: 'View Templates', className: 'btn btn-outline-primary mb-2',
                            action: function () {
                                showModal('#{{table_name}}Modal')
                            }
                        }
                    ],
                    "columns": columns,
                    "colReorder": true,
                    "deferRender": true,
                    "dom": '<"row"<"col-sm-12 col-md-6"B><"col-sm-12 col-md-6"l>> rt <"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "orderMuli": true,
                    "pageLength": 10,
                    "responsive": true,
                    "stateSave": true,
                    "select": {
                        style: 'multi'
                    },
                    "language":{
                        "loadingRecords": "<div><img src='{{ url_for('static', filename='Resources/Koerber_Logo_RGB_Black.svg')}}'' height='100'/></br>Loading...</div>"
                    }
                });
            }
        });
    });




    function showModal(id) {

        var modalTable = $("#{{table_name}}ModalTable").DataTable({
            "autoWidth": true,
            "columns": [
                { "data": "id", "title": "id", "name": "id" },
                { "data": "viewname", "title": "viewname", "name": "viewname" }
            ],
            "colReorder": true,
            "ajax": "{{url_for('view_templates.all_view_templates')}}",
            "destroy": true,
            "orderMuli": true,
            "processing": true,
            "responsive": true,
            "select": {
                style: 'single'
            }
        }).columns.adjust().draw();;

        modalTable.on('select', function (e, dt, type, indexes) {
            var rowData = modalTable.rows(indexes).data().toArray()[0];
            console.log(rowData);
            var table = $("#{{table_name}}").DataTable();
            table.page.len(rowData['defaultrowcount']).draw();
            for (let index = 0; index < rowData['invisiblecolumns'].length; index++) {
                table.columns(rowData['invisiblecolumns'][index] + ":name").visible(show = false, redrawCalculations = false);
            }
            table.columns.adjust().draw();

        });

        $(id).modal('toggle')
    }

    function hideModals() {
        $('.modal').modal('toggle')
    }

    function defaultDataTable(id) {
        table = $(id).DataTable()
        table.page.len(10);
        table.columns().visible(true).draw();
        table.columns.adjust().draw();

    }


</script>
<div class="modal fade" id="{{table_name}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{table_name}}ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Templates</h5>
                <button type="button" class="close" onclick="hideModals()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" id="{{table_name}}ModalTable" style="width: 100%">
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    onclick="defaultDataTable('#{{table_name}}')">Default</button>
                <button type="button" class="btn btn-secondary" onclick="hideModals()">Close</button>
            </div>
        </div>
    </div>
</div>
<table class="table" id="{{table_name}}" style="width: 100%">
</table>
{% endmacro %}