<!DOCTYPE html>
{% macro ajax_table(table_name="table_name", parameters = "parameters" ) %}
<script>
    $(document).ready(function () {
        var parameters = $.param(JSON.parse('{{parameters|tojson}}'), true);

        $.ajax({
            "url": "{{url_for('table_interface.get_table_columns', table_name=table_name)}}",
            "data": parameters,
            success: function (data) {
                var columns = [];
                columnNames = data.columns.sort();
                for (var i in columnNames) {
                    columns.push({
                        data: columnNames[i],
                        title: columnNames[i],
                        name: columnNames[i]
                    });
                }
                var oTable = $("#{{table_name}}").DataTable({

                    "autoWidth": true,
                    "ajax": {
                        "url": "{{url_for('table_interface.get_table_rows', table_name=table_name)}}?" + parameters,
                        "dataSrc": 'data',
                    },
                    "buttons": [
                        {
                            extend: 'collection',
                            className: 'btn btn-outline-primary mb-2',
                            text: 'Export Table',
                            buttons: [
                                { extend: 'copy', className: 'btn btn-secondary mb-2' },
                                { extend: 'csv', className: 'btn btn-secondary mb-2' },
                                { extend: 'excel', className: 'btn btn-secondary mb-2' },
                                { extend: 'pdf', className: 'btn btn-secondary mb-2' },
                                { extend: 'print', className: 'btn btn-secondary mb-2' },
                            ]
                        },
                        { extend: 'colvis', className: 'btn btn-outline-primary mb-2', collectionLayout: 'four-column' },
                        {
                            text: 'View Templates', className: 'btn btn-outline-primary mb-2',
                            action: function () {
                                showModal('#{{table_name}}Modal')
                            }
                        }
                    ],
                    "columns": columns,
                    "colReorder": true,
                    "deferRender": true,
                    "dom": '<"row"<"col-sm-12 col-md-6"B><"col-sm-12 col-md-6"l>> rt <"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
                    "lengthMenu": [10, 25, 50],
                    "orderMuli": true,
                    "pageLength": 10,
                    "responsive": true,
                    "stateSave": true,
                    "select": {
                        style: 'multi'
                    },
                    "language": {
                        "loadingRecords": "<div><img src='{{ url_for('static', filename='Resources/Koerber_Logo_RGB_Black.svg')}}'' height='100'/></br>Loading...</div>"
                    }
                });
            }
        });
        $("#{{table_name}}ModalFormSubmitButton").click(function () {
            if ($("#{{table_name}}viewTemplateName").val() !== "") {
                $.ajax({
                    url: "{{url_for('view_templates.view_template')}}",
                    type: "POST",
                    data: {
                        viewname: $("#{{table_name}}viewTemplateName").val(),
                        options: JSON.stringify($("#{{table_name}}").DataTable().state()),
                        tablename: "{{table_name}}"
                    }
                });
                $("#{{table_name}}viewTemplateName").val('')
                $("#{{table_name}}ModalTable").DataTable().ajax.reload();
            }
            return false;
        });
    });


    function showModal(id) {

        var modalTable = $("#{{table_name}}ModalTable").DataTable({
            "autoWidth": true,
            "ajax": {
                url: "{{url_for('view_templates.view_template')}}",
                data: {
                    tablename: "{{table_name}}"
                }
            },
            "buttons": [
                {
                    text: 'Apply',
                    action: function () {
                        modaltable = $("#{{table_name}}ModalTable").DataTable();
                        var rowData = modaltable.rows({ selected: true }).data().toArray()[0];
                        var setting = rowData['setting'];
                        var table = $("#{{table_name}}").DataTable();
                        table.state.clear()
                        table.colReorder.reset();
                        table.columns().visible(true);
                        var invisibleColumnIndexes = [];
                        for (let index = 0; index < setting['columns'].length; index++) {
                            if (setting['columns'][index]['visible'] == false) {
                                invisibleColumnIndexes.push(index);
                            }
                        }
                        table.columns(invisibleColumnIndexes).visible(false);
                        table.colReorder.order(setting['ColReorder'], true)
                        table.page.len(setting["length"]);
                        table.order(setting["order"]);
                        table.columns.adjust().draw();
                    }
                },
                {
                    text: 'Delete',
                    action: function () {
                        modaltable = $("#{{table_name}}ModalTable").DataTable();
                        var rowData = modaltable.rows({ selected: true }).data().toArray()[0];
                        console.log(rowData['id']);
                        $.ajax({
                            url: "{{url_for('view_templates.view_template')}}",
                            type: 'DELETE',
                            data: {
                                id: rowData['id']
                            }
                        });
                        $("#{{table_name}}ModalTable").DataTable().ajax.reload();
                    }
                },
            ],
            "columns": [
                { "data": "id", "title": "id", "name": "id" },
                { "data": "viewname", "title": "viewname", "name": "viewname" }
            ],
            "colReorder": true,
            "dom": 'frtpB',
            "destroy": true,
            "orderMuli": true,
            "processing": true,
            "responsive": true,
            "select": {
                style: 'single'
            }
        }).columns.adjust().draw();;

        $(id).modal('toggle')
    }

    function hideModals() {
        $('.modal').modal('toggle')
    }


</script>
<div class="modal fade" id="{{table_name}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{table_name}}ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Templates</h3>
                <button type="button" class="close" onclick="hideModals()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" id="{{table_name}}ModalTable" style="width: 100%">
                </table>
                <br>
                <hr>
                <br>
                <form action="#" id="{{table_name}}ModalForm">
                    <div class="form-group">
                        <h4>Save current view as template</h4>
                        <div class="form-group">
                            <label for="viewTemplateName">Template name</label>
                            <input type="name" class="form-control" id="{{table_name}}viewTemplateName"
                                aria-describedby="viewTemplateNameHelp" placeholder="Name" required>
                        </div>
                    </div>
                    <button id="{{table_name}}ModalFormSubmitButton" class="btn btn-primary">Save Template</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideModals()">Close</button>
            </div>
        </div>
    </div>
</div>
<table class="table" id="{{table_name}}" style="width: 100%">
</table>
{% endmacro %}