<!DOCTYPE html>
{% extends "base.html" %}
{% import 'table.html' as tables %}
{% import 'viewimages.html' as view_images %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });
        $("#togglebutton").click(function () {
            $(".customTableButtons").toggleClass("d-none");
        });
    });
    function toProcess() {
        location.href = "{{url_for('export.page_process')}}".concat(location.search);
    };


</script>
{% endblock %}
{% block content %}
<h1 class="text-primary pb-3">View Selection</h1>
<ul id="categoryTabs" class="nav nav-tabs" role="tablist">
    <li>
        <a class="nav-link active" href="#tab-data" data-toggle="tab" role="tab" aria-controls="data"
            aria-selected="true"><h4>Tables</h4></a>
    </li>
    <li>
        <a class="nav-link" href="#tab-images" data-toggle="tab" role="tab" aria-controls="images"
            aria-selected="false"><h4>Images</h4></a>
    </li>
</ul>
<div class="tab-content" id="categoryContent">
    <div class="tab-pane pt-3 mb-5 fade show active" id="tab-data">
        <div class="row">
            <div class="col">
                <ul id="dataTabs" class="nav nav-tabs" role="tablist">
                    {% for single_table in alltables %}
                    <li>
                        {% if single_table.table_name == alltables[0].table_name %}
                        <a class="nav-link active" href="#tab-{{single_table.table_name}}" data-toggle="tab" role="tab"
                            aria-controls="home" aria-selected="true">{{ single_table.table_name}}</a>
                        {% elif single_table.table_name != alltables[0].table_name %}
                        <a class="nav-link" href="#tab-{{single_table.table_name}}" data-toggle="tab" role="tab"
                            aria-controls="profile" aria-selected="false">{{ single_table.table_name}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-auto">
                <button class="btn btn-outline-secondary" id="togglebutton">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" />
                    </svg>
                </button>
            </div>
            <div class="tab-content" id="contentContent">
                {% for single_table in alltables %}
                    {% if single_table.table_name == alltables[0].table_name %}
                    <div class="tab-pane fade show active" id="tab-{{ single_table.table_name }}">
                        {{ tables.ajax_table(table_name=single_table.table_name, parameters=single_table.parameters)}}
                    </div>
                    {% elif single_table.table_name != alltables[0].table_name %}
                    <div class="tab-pane fade" id="tab-{{ single_table.table_name }}">
                        {{ tables.ajax_table(table_name=single_table.table_name, parameters=single_table.parameters)}}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="tab-pane pt-3 mb-5 fade" id="tab-images">
        {{ view_images.imagesview() }}
    </div>

</div>
{% endblock %}
{% block buttomBar %}
<button onclick="toProcess()" class="btn btn-primary mb-2">Process Data</button>
{% endblock %}