<!DOCTYPE html>
{% extends "base.html" %}
{% block scripts %}
<script>
    function toProcess() {
        location.href = "{{url_for('export.page_process')}}".concat(location.search);
    };
    function toView() {
        location.href = "{{url_for('export.page_view')}}".concat(location.search);
    }
    function changeImageSize() {
            console.log("change")
            switch ($('#pictureSelect').val()) {
                case "small":
                    $('img').removeClass("w-25 w-50 w-75 w-100").addClass("w-25");
                    break;
                case "medium":
                    $('img').removeClass("w-25 w-50 w-75 w-100").addClass("w-50");
                    break;
                case "large":
                    $('img').removeClass("w-25 w-50 w-75 w-100").addClass("w-75");
                    break;
                case "extra-large":
                    $('img').removeClass("w-25 w-50 w-75 w-100").addClass("w-100");
                    break;
                default:
                    $('img').removeClass("w-25 w-50 w-75 w-100").addClass("w-25");
            }
    }
    $(document).ready(
        $.ajax({
            "url": "{{url_for('table_interface.get_column_content', table_name='triggerview', column_name='image1_link')}}".concat(location.search),
            "success": function (result) {
                result.forEach(picture => {
                    var image = $('<img>');
                    image.attr("src", "{{url_for('table_interface.get_image')}}" + "?path=" + picture);
                    image.attr("alt", "{{url_for('table_interface.get_image')}}" + "?path=" + picture);
                    image.attr("loading", "lazy");
                    image.attr("class", "w-25 p-3");
                    $('#images').append(image);

                })
            }
        })

    )

</script>
{% endblock %}
{% block content %}
<h1 class="text-primary">View Images</h1>
<form >
    <select class="form-select" id="pictureSelect" onchange="changeImageSize()">
        <option value="small" selected>
            small
        </option>
        <option value="medium">
            medium
        </option>
        <option value="large">
            large
        </option>
        <option value="extra-large">
            extra-large
        </option>
    </select>
</form>
<div id="images" class="row">
</div>
{% endblock %}
{% block buttomBar %}
    <button onclick="toView()" class="btn btn-secondary mb-2">View Data</button>
    <button onclick="toProcess()" class="btn btn-primary mb-2">Process Data</button>
{% endblock %}